<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DIOP.TECH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="footer-links">
        <a href="mailto:vloids@mail.com">E-mail</a>
        <a href="https://github.com/vloids">GitHub</a>
        <a href="https://www.linkedin.com/in/vloids">LinkedIn</a>
    </div>
    <p th:text="|&copy; ${#dates.year(#dates.createNow())}  Aminata Diop|"></p></footer>
</body>
</html>