<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DIOP.TECH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script th:src="@{/js/transition.js}"></script>
</head>
<body>
<div id="transition-screen" class="transition-screen"></div>
<div class="container-pd" id="part-pd">
    <div class="header" th:replace="~{fragments/header :: header}"></div>
    <div class="info">
        <div class="back">
            <a th:href="@{/projects}">🡐 BACK TO PROJECTS</a>
        </div>
        <img th:src="@{${project.imageUrl}}" alt="Project Image" class="project-image">
        <h1 th:text="${project.name}"></h1>
        <h2 th:text="|${project.technologies} - Started on ${#dates.format(project.date, 'MMMM d, yyyy')}|"></h2>
        <p th:text="${project.description}"></p>
    </div>
    <div class="footer" th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>